* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    --box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

header {
    text-align: center;
    background-color: #ffffff;
    padding: 10px 0px;
    margin: 0;
    box-shadow: var(--box-shadow);
}

.add-section {
    padding: 30px 0px;
    text-align: center;
}

.add-btn {
    background-color: #eaeaea;
    font-weight: bold;
}

.add-btn:hover {
    background-color: #5ee6fe;
}

body {
    background-color: #dcf7fc !important;
}

.book-title {
    color: navy;
}

.book-body {
    font-size: 18px;
}

.book-btn {
    display: flex;
    justify-content: flex-end;
}

button {
    padding: 6px 15px;
    border-radius: 10px !important;
    cursor: pointer;
    border: 1.4px solid black;
}

.read-btn {
    margin-right: 4px;
    background-color: #b3ffcf;  
}

.read-btn:hover {
    background-color: #4bfa8b;
}

.remove-btn {
    background-color: #f87171;
}

.remove-btn:hover {
    background-color: #e83a3aeb;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    gap: 12px;
    justify-items: center;
    align-items: center;
}

.book-card {
    background-color: white;
    width: 26vw;
    height: 40vh;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    /* supaya isi barisnya ga berubah meski isinya beda */
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
}

.add-book-modal {
    width: 30vw;
    height: 74vh;
    margin: 0 auto; /* spy ke tengah */
    background-color: #ecfccb;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid;
}

.modal-title {
    text-align: center;
    border-bottom: 1px solid;
}
